@page "/Admin/Roles"
@model AR.Telegraph.Areas.Identity.Pages.Admin.Roles.IndexModel
@{
    ViewData["Title"] = "المجموعات";
    Layout = "/Areas/Identity/Pages/Shared/_Layout.cshtml";
}
<div class="row justify-content-sm-center">
    @await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
</div>
<div class="row justify-content-center mx-auto mr-auto">
    <div class="card">
        <div class="card-header">
            المجموعات
        </div>
        <div class="card-body">
            <table class="table table-borderless table-hover">
                <thead class="thead-dark">
                    <tr scope="row">
                        <td scope="col">المجموعة</td>
                        <td scope="col"></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model.Roles)
                    {
                        if (role == "Administrator")
                        {
                            <tr scope="row">
                                <td>@role</td>
                                <td></td>
                            </tr>
                        }
                        else
                        {
                            <tr scope="row">
                                <td>@role</td>
                                <td>
                                    <a class="btn btn-warning" href="@Url.Page("/Admin/Roles/Edit", new {role})">تعديل</a>
                                    <a class="btn btn-danger" href="@Url.Page("/Admin/Roles/Delete", new {role})">حذف</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a class="btn btn-info" href="@Url.Page("/Admin/Roles/Insert")">جديد</a>
        </div>
    </div>
</div>