<div class="modal fade" id="userWithRoles" tabindex="-1" role="dialog" aria-labelledby="userWithRolesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="img-thumbnail" src="" width="100" height="100" style="width:50px; height:50px;" />
                <h5 class="modal-title" id="userWithRolesLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <td>الإسم الأول</td>
                            <td>@Model.Users[i].FirstName</td>
                        </tr>
                        <tr>
                            <td>الإسم الأوسط</td>
                            <td>@Model.Users[i].MiddleName</td>
                        </tr>
                        <tr>
                            <td>الإسم الأخير</td>
                            <td>@Model.Users[i].LastName</td>
                        </tr>
                        <tr>
                            <td>الجنس</td>
                            <td>@Model.Users[i].Gender</td>
                        </tr>
                        <tr>
                            <td>تاريخ الميلاد</td>
                            <td>@Model.Users[i].BirthDate.GetValueOrDefault().ToString("dddd, dd MMMM yyyy")</td>
                        </tr>
                        <tr>
                            <td>اسم المستخدم</td>
                            <td>@Model.Users[i].UserName</td>
                        </tr>
                        <tr>
                            <td>البريد الإلكتروني</td>
                            <td>
                                <a href="mailto:@Model.Users[i].Email">@Model.Users[i].Email</a>
                                @(Model.Users[i].EmailConfirmed ? Html.Raw("<span class='badge badge-info'>مؤكد<span>") : Html.Raw("<span class='badge badge-info'>غير مؤكد<span>"))
                            </td>
                        </tr>
                        <tr>
                            <td>رقم الإتصال</td>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.Users[i].PhoneNumber))
                                {
                                    <a href="tel:@Model.Users[i].PhoneNumber" style="direction:ltr;unicode-bidi: embed;">@Model.Users[i].PhoneNumber</a>
                                    @(Model.Users[i].PhoneNumberConfirmed ? Html.Raw("<span class='badge badge-info'>مؤكد<span>") : Html.Raw("<span class='badge badge-info'>غير مؤكد<span>"))
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>مصادقة ثنائية</td>
                            <td>
                                @(Model.Users[i].EmailConfirmed ? Html.Raw("المصادقة الثنائية مفعلة") : Html.Raw("لا توجد مصادقة ثنائية"))
                            </td>
                        </tr>
                        <tr>
                            <td>حالة الحساب</td>
                            <td>
                                @if (Model.Users[i].LockoutEnabled)
                                {
                                    <span>الحساب مفعل</span>
                                }
                                else
                                {
                                    <span>الحساب مغلق</span>
                                    @Model.Users[i].LockoutEnd.GetValueOrDefault().ToString();
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>محاولات الدخول الخاطئة</td>
                            <td>@Model.Users[i].AccessFailedCount</td>
                        </tr>
                        <tr>
                            <td>المجموعات</td>
                            <td>
                                <select class="form-control" asp-items="await Model.GetUserRolesAsync(Model.Users[i].UserName)" multiple>
                                    <option value="">--- المجموعات ---</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>*@
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">حفظ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
